.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
/yang/
archive.json
draft-petra-green-api.xml
draft-todo-yourname-protocol.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
